// colors
$clr-purple-200: #4945FA;
$clr-purple-100: #534D95;
$clr-dk-blue: #07305E;
$clr-grey: #95969B;
$clr-lt-grey: rgba(149, 150, 155, 0.6);
$clr-white: #FFF;
$clr-red: #D84B5E;

$clr-bg-300: #F8F9FE;
$clr-bg-200: #C2E5FF;
$clr-bg-100: #EEF5FF;

// font sizes
// 32px 16px 15px 13px
$fs-xs: 0.8125rem;
$fs-sm: 0.9375rem;
$fs-md: 1rem;
$fs-lg: 2rem;

// transitions
$ts-200: all 200ms ease-in-out;